---
import Layout from '@/layouts/Default.astro';

export const getStaticPaths = async ({ paginate }) => {
  const posts = await getBlogPosts();
  const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
  const paths = [];

  for (const tag of tags) {
    const posts = (await getBlogPosts()).filter((post) => post.data.tags.includes(tag));

    const paginatedPaths = paginate(posts, {
      pageSize: postsPerPage,
      params: { slug: createSlug(tag) },
      props: { tag },
    });

    paths.push(...paginatedPaths);
  }

  return paths;
};

const { slug } = Astro.params;
const { page, tag } = Astro.props;
const { pathname } = Astro.url;
const { currentPage, data = [], lastPage, total } = page;
---

<Layout
  heading={`Blog <small>(Tagged with ${tag})</small>`}
>
  <Container>
    <div class="gap-4  grid  py-8  sm:py-16  lg:gap-8">
      {
        data.map(async (post: any) => {
          const { data, id } = post
          const { cover, date, title } = data
          const { remarkPluginFrontmatter } = await render(post);
          const { excerpt, readingTime } = remarkPluginFrontmatter

          return (
            <BlogPostCard
              cover={cover}
              date={date}
              excerpt={excerpt}
              id={id}
              readingTime={readingTime}
              title={title}
            />
          )
        })
      }
    </div>
    <Pagination
      baseUrl={`/${pathname.split("/")[1]}/tag/${slug}/`}
      currentPage={currentPage}
      total={total}
      totalPages={lastPage}
    />
  </Container>
</Layout>
