---
import BlogPostCard from '@/components/BlogPostCard.astro';
import Container from '@/components/Container.astro';
import Pagination from '@/components/Helpers/Pagination.astro';
import Layout from '@/layouts/Default.astro';

export const getStaticPaths = async ({ paginate }) => {
  const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return paginate(posts, { pageSize: postsPerPage });
}

const { pathname } = Astro.url;
const { page } = Astro.props;
const { currentPage, data = [], lastPage, url } = page;
const { current, next, prev } = url;
---

<Layout
  heading={`Blog${currentPage > 1 ? ` <small>(Page ${currentPage})</small>` : ``}`}
>
  <Container>
    <div class="gap-4  grid  py-8  sm:py-16  lg:gap-8">
      {
        data.map(async (post) => {
          const { data, slug } = post
          const { cover, date, title } = data
          const { remarkPluginFrontmatter } = await post.render()
          const { excerpt, minutesRead } = remarkPluginFrontmatter

          return (
            <BlogPostCard
              cover={cover}
              date={date}
              excerpt={excerpt}
              minutesRead={minutesRead}
              slug={slug}
              title={title}
            />
          )
        })
      }
    </div>
  </Container>
  <Pagination
    baseUrl={`/${pathname.split("/")[1]}/`}
    currentUrl={current}
    length={lastPage}
    nextUrl={next}
    prevUrl={prev}
  />
</Layout>
