---
import BlogPostCard from '@/components/BlogPostCard.astro';
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Default.astro';

export const getStaticPaths = async () => {
  const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));

    return {
      params: {
        slug: createSlug(tag),
      },
      props: {
        posts: filteredPosts,
        tag,
      },
    }
  });
}

const { posts, tag } = Astro.props;
---

<Layout
  heading={`Blog <small>(Tagged with ${tag})</small>`}
>
  <Container>
    <div class="gap-4  grid  py-8  sm:py-12  lg:gap-8  lg:grid-cols-3">
      {
        posts.map(async (post) => {
          const { data, slug } = post
          const { cover, date, title } = data
          const { remarkPluginFrontmatter } = await post.render()

          return (
            <BlogPostCard
              cover={cover}
              date={date}
              excerpt={remarkPluginFrontmatter.excerpt}
              minutesRead={remarkPluginFrontmatter.minutesRead}
              slug={slug}
              title={title}
            />
          )
        })
      }
    </div>
  </Container>
</Layout>
