---
import type { LatestBlogPostsProps } from '@/types/LatestBlogPosts';

const { heading, limit } = Astro.props as LatestBlogPostsProps;
const posts = await getBlogPosts({ limit: (limit ?? 3) });
---

<div class="bg-zinc-100  border-t  border-zinc-200  mt-auto  py-8  sm:py-16">
  <Container>
    {heading && (
      <div class="flex  items-baseline  justify-between  mb-8">
        <h2 class="font-light  font-serif  text-2xl  lg:text-3xl">{heading}</h2>
        <a
          class="flex  items-center  justify-end  hover:text-primary-700  hover:underline"
          href="/blog/"
        >
          View all
          <Icon class="ml-1  size-3" name="chevron-right" />
        </a>
      </div>
    )}
    <div class="gap-4  grid  lg:gap-8  lg:grid-cols-3">
      {posts.map(async (post) => {
        const { data, id } = post
        const { cover, date, title } = data
        const { remarkPluginFrontmatter } = await render(post);
        const { excerpt, readingTime } = remarkPluginFrontmatter;

        return (
          <BlogPostCard
            cover={cover}
            date={date}
            excerpt={excerpt}
            id={id}
            readingTime={readingTime}
            title={title}
          />
        )
      })}
    </div>
  </Container>
</div>
