---
import type { DefaultLayoutProps } from '@/types/DefaultLayout';
import { GOOGLE_TAG_MANAGER_ID } from 'astro:env/client';
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Layout/Footer/index.astro';
import Header from '@/components/Layout/Header/index.astro';
import '@/styles/tailwind.css';

const { heading, layout, meta } = Astro.props as DefaultLayoutProps;
---

<html lang="en">
  <Head>
    <BaseHead description={meta?.description} og={meta?.og} robots={meta?.robots} title={meta?.title || heading || ``} twitter={meta?.twitter} />
    <slot name="structured-data" />
  </Head>
  <body class="font-light  min-w-[360px]  text-zinc-800">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src={`https://www.googletagmanager.com/ns.html?id=${GOOGLE_TAG_MANAGER_ID}`} height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a class="absolute  bg-yellow-100  border-yellow-200  border-t-2  block  left-0  py-4  text-center  text-yellow-900  -translate-y-[59px]  w-full  z-50  sm:py-6  sm:-translate-y-[74px]  focus:outline-hidden  focus:translate-y-0" href="#content">
      <span class="border-2  border-yellow-700  p-2  rounded">Skip to Main Content</span>
    </a>
    <div class="bg-white  flex  flex-col  min-h-screen  relative">
      <Header />
      <main class="bg-white  flex  flex-col  grow" id="content">
        {heading && (
          <div class="bg-primary-700  py-8  text-white  lg:py-16">
            <Container>
              <h1 class="font-light  font-serif  text-2xl  lg:text-3xl" set:html={heading}></h1>
            </Container>
          </div>
        )}
        <slot />
      </main>
      <Footer {...layout?.footer} />
    </div>
  </body>
</html>
